.git
.gitignore
.venv
venv
__pycache__
*.pyc
*.pyo
*.pyd
.pytest_cache
.mypy_cache
.ruff_cache
.coverage
htmlcov
.env
.env.*
!.env.example
media
staticfiles
*.sqlite3
.github
*.md
!README.md
docker/grafana
docker/prometheus
celerybeat-schedule*
