--
-- PostgreSQL database dump
--

\restrict adAAiqwLfNbqXXiFkB3sshGhNTXTQDhRQgeyVeG5KasjgmB5KK8tPkEBbWihth9

-- Dumped from database version 16.14
-- Dumped by pg_dump version 16.14

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: accounts_user; Type: TABLE; Schema: public; Owner: apm
--

CREATE TABLE public.accounts_user (
    id bigint NOT NULL,
    password character varying(128) NOT NULL,
    last_login timestamp with time zone,
    is_superuser boolean NOT NULL,
    username character varying(150) NOT NULL,
    first_name character varying(150) NOT NULL,
    last_name character varying(150) NOT NULL,
    email character varying(254) NOT NULL,
    is_staff boolean NOT NULL,
    is_active boolean NOT NULL,
    date_joined timestamp with time zone NOT NULL,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL,
    role character varying(32) NOT NULL,
    phone character varying(32) NOT NULL,
    department character varying(128) NOT NULL
);


ALTER TABLE public.accounts_user OWNER TO apm;

--
-- Name: accounts_user_groups; Type: TABLE; Schema: public; Owner: apm
--

CREATE TABLE public.accounts_user_groups (
    id bigint NOT NULL,
    user_id bigint NOT NULL,
    group_id integer NOT NULL
);


ALTER TABLE public.accounts_user_groups OWNER TO apm;

--
-- Name: accounts_user_groups_id_seq; Type: SEQUENCE; Schema: public; Owner: apm
--

ALTER TABLE public.accounts_user_groups ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.accounts_user_groups_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: accounts_user_id_seq; Type: SEQUENCE; Schema: public; Owner: apm
--

ALTER TABLE public.accounts_user ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.accounts_user_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: accounts_user_user_permissions; Type: TABLE; Schema: public; Owner: apm
--

CREATE TABLE public.accounts_user_user_permissions (
    id bigint NOT NULL,
    user_id bigint NOT NULL,
    permission_id integer NOT NULL
);


ALTER TABLE public.accounts_user_user_permissions OWNER TO apm;

--
-- Name: accounts_user_user_permissions_id_seq; Type: SEQUENCE; Schema: public; Owner: apm
--

ALTER TABLE public.accounts_user_user_permissions ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.accounts_user_user_permissions_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: ai_aiconversation; Type: TABLE; Schema: public; Owner: apm
--

CREATE TABLE public.ai_aiconversation (
    id bigint NOT NULL,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL,
    title character varying(255) NOT NULL,
    user_id bigint NOT NULL
);


ALTER TABLE public.ai_aiconversation OWNER TO apm;

--
-- Name: ai_aiconversation_id_seq; Type: SEQUENCE; Schema: public; Owner: apm
--

ALTER TABLE public.ai_aiconversation ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.ai_aiconversation_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: ai_aimessage; Type: TABLE; Schema: public; Owner: apm
--

CREATE TABLE public.ai_aimessage (
    id bigint NOT NULL,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL,
    role character varying(16) NOT NULL,
    content text NOT NULL,
    conversation_id bigint NOT NULL
);


ALTER TABLE public.ai_aimessage OWNER TO apm;

--
-- Name: ai_aimessage_id_seq; Type: SEQUENCE; Schema: public; Owner: apm
--

ALTER TABLE public.ai_aimessage ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.ai_aimessage_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: ai_aiusagelog; Type: TABLE; Schema: public; Owner: apm
--

CREATE TABLE public.ai_aiusagelog (
    id bigint NOT NULL,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL,
    feature character varying(32) NOT NULL,
    prompt_tokens integer NOT NULL,
    completion_tokens integer NOT NULL,
    success boolean NOT NULL,
    error_message character varying(512) NOT NULL,
    mock boolean NOT NULL,
    user_id bigint,
    CONSTRAINT ai_aiusagelog_completion_tokens_check CHECK ((completion_tokens >= 0)),
    CONSTRAINT ai_aiusagelog_prompt_tokens_check CHECK ((prompt_tokens >= 0))
);


ALTER TABLE public.ai_aiusagelog OWNER TO apm;

--
-- Name: ai_aiusagelog_id_seq; Type: SEQUENCE; Schema: public; Owner: apm
--

ALTER TABLE public.ai_aiusagelog ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.ai_aiusagelog_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: applications_application; Type: TABLE; Schema: public; Owner: apm
--

CREATE TABLE public.applications_application (
    id bigint NOT NULL,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL,
    is_deleted boolean NOT NULL,
    deleted_at timestamp with time zone,
    name character varying(255) NOT NULL,
    description text NOT NULL,
    criticality character varying(32) NOT NULL,
    status character varying(32) NOT NULL,
    go_live_date date,
    end_of_life_date date,
    user_count integer NOT NULL,
    business_unit character varying(255) NOT NULL,
    owner_id bigint,
    CONSTRAINT applications_application_user_count_check CHECK ((user_count >= 0))
);


ALTER TABLE public.applications_application OWNER TO apm;

--
-- Name: applications_application_id_seq; Type: SEQUENCE; Schema: public; Owner: apm
--

ALTER TABLE public.applications_application ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.applications_application_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: applications_application_technologies; Type: TABLE; Schema: public; Owner: apm
--

CREATE TABLE public.applications_application_technologies (
    id bigint NOT NULL,
    application_id bigint NOT NULL,
    technology_id bigint NOT NULL
);


ALTER TABLE public.applications_application_technologies OWNER TO apm;

--
-- Name: applications_application_technologies_id_seq; Type: SEQUENCE; Schema: public; Owner: apm
--

ALTER TABLE public.applications_application_technologies ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.applications_application_technologies_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: audit_auditlog; Type: TABLE; Schema: public; Owner: apm
--

CREATE TABLE public.audit_auditlog (
    id bigint NOT NULL,
    action character varying(64) NOT NULL,
    entity character varying(64) NOT NULL,
    entity_id character varying(64) NOT NULL,
    details text NOT NULL,
    occurred_at timestamp with time zone NOT NULL,
    ip_address inet,
    user_id bigint
);


ALTER TABLE public.audit_auditlog OWNER TO apm;

--
-- Name: audit_auditlog_id_seq; Type: SEQUENCE; Schema: public; Owner: apm
--

ALTER TABLE public.audit_auditlog ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.audit_auditlog_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_group; Type: TABLE; Schema: public; Owner: apm
--

CREATE TABLE public.auth_group (
    id integer NOT NULL,
    name character varying(150) NOT NULL
);


ALTER TABLE public.auth_group OWNER TO apm;

--
-- Name: auth_group_id_seq; Type: SEQUENCE; Schema: public; Owner: apm
--

ALTER TABLE public.auth_group ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_group_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_group_permissions; Type: TABLE; Schema: public; Owner: apm
--

CREATE TABLE public.auth_group_permissions (
    id bigint NOT NULL,
    group_id integer NOT NULL,
    permission_id integer NOT NULL
);


ALTER TABLE public.auth_group_permissions OWNER TO apm;

--
-- Name: auth_group_permissions_id_seq; Type: SEQUENCE; Schema: public; Owner: apm
--

ALTER TABLE public.auth_group_permissions ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_group_permissions_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_permission; Type: TABLE; Schema: public; Owner: apm
--

CREATE TABLE public.auth_permission (
    id integer NOT NULL,
    name character varying(255) NOT NULL,
    content_type_id integer NOT NULL,
    codename character varying(100) NOT NULL
);


ALTER TABLE public.auth_permission OWNER TO apm;

--
-- Name: auth_permission_id_seq; Type: SEQUENCE; Schema: public; Owner: apm
--

ALTER TABLE public.auth_permission ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_permission_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: certificates_certificate; Type: TABLE; Schema: public; Owner: apm
--

CREATE TABLE public.certificates_certificate (
    id bigint NOT NULL,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL,
    is_deleted boolean NOT NULL,
    deleted_at timestamp with time zone,
    common_name character varying(255) NOT NULL,
    san_domains text NOT NULL,
    issuer character varying(255) NOT NULL,
    certificate_type character varying(32) NOT NULL,
    status character varying(32) NOT NULL,
    issued_at date,
    expires_at date NOT NULL,
    auto_renew boolean NOT NULL,
    is_active boolean NOT NULL,
    notes text NOT NULL,
    application_id bigint,
    domain_id bigint,
    environment_id bigint
);


ALTER TABLE public.certificates_certificate OWNER TO apm;

--
-- Name: certificates_certificate_id_seq; Type: SEQUENCE; Schema: public; Owner: apm
--

ALTER TABLE public.certificates_certificate ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.certificates_certificate_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: contracts_contract; Type: TABLE; Schema: public; Owner: apm
--

CREATE TABLE public.contracts_contract (
    id bigint NOT NULL,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL,
    is_deleted boolean NOT NULL,
    deleted_at timestamp with time zone,
    reference character varying(64) NOT NULL,
    title character varying(255) NOT NULL,
    contract_type character varying(32) NOT NULL,
    status character varying(32) NOT NULL,
    start_date date NOT NULL,
    end_date date NOT NULL,
    annual_cost numeric(12,3),
    currency character varying(3) NOT NULL,
    auto_renew boolean NOT NULL,
    sla_level character varying(64) NOT NULL,
    is_active boolean NOT NULL,
    notes text NOT NULL,
    application_id bigint,
    owner_id bigint,
    vendor_id bigint NOT NULL
);


ALTER TABLE public.contracts_contract OWNER TO apm;

--
-- Name: contracts_contract_id_seq; Type: SEQUENCE; Schema: public; Owner: apm
--

ALTER TABLE public.contracts_contract ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.contracts_contract_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: dependencies_dependency; Type: TABLE; Schema: public; Owner: apm
--

CREATE TABLE public.dependencies_dependency (
    id bigint NOT NULL,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL,
    is_deleted boolean NOT NULL,
    deleted_at timestamp with time zone,
    dependency_type character varying(32) NOT NULL,
    description text NOT NULL,
    target_external character varying(255) NOT NULL,
    is_active boolean NOT NULL,
    source_application_id bigint NOT NULL,
    target_application_id bigint
);


ALTER TABLE public.dependencies_dependency OWNER TO apm;

--
-- Name: dependencies_dependency_id_seq; Type: SEQUENCE; Schema: public; Owner: apm
--

ALTER TABLE public.dependencies_dependency ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.dependencies_dependency_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_admin_log; Type: TABLE; Schema: public; Owner: apm
--

CREATE TABLE public.django_admin_log (
    id integer NOT NULL,
    action_time timestamp with time zone NOT NULL,
    object_id text,
    object_repr character varying(200) NOT NULL,
    action_flag smallint NOT NULL,
    change_message text NOT NULL,
    content_type_id integer,
    user_id bigint NOT NULL,
    CONSTRAINT django_admin_log_action_flag_check CHECK ((action_flag >= 0))
);


ALTER TABLE public.django_admin_log OWNER TO apm;

--
-- Name: django_admin_log_id_seq; Type: SEQUENCE; Schema: public; Owner: apm
--

ALTER TABLE public.django_admin_log ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_admin_log_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_content_type; Type: TABLE; Schema: public; Owner: apm
--

CREATE TABLE public.django_content_type (
    id integer NOT NULL,
    app_label character varying(100) NOT NULL,
    model character varying(100) NOT NULL
);


ALTER TABLE public.django_content_type OWNER TO apm;

--
-- Name: django_content_type_id_seq; Type: SEQUENCE; Schema: public; Owner: apm
--

ALTER TABLE public.django_content_type ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_content_type_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_migrations; Type: TABLE; Schema: public; Owner: apm
--

CREATE TABLE public.django_migrations (
    id bigint NOT NULL,
    app character varying(255) NOT NULL,
    name character varying(255) NOT NULL,
    applied timestamp with time zone NOT NULL
);


ALTER TABLE public.django_migrations OWNER TO apm;

--
-- Name: django_migrations_id_seq; Type: SEQUENCE; Schema: public; Owner: apm
--

ALTER TABLE public.django_migrations ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_migrations_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_session; Type: TABLE; Schema: public; Owner: apm
--

CREATE TABLE public.django_session (
    session_key character varying(40) NOT NULL,
    session_data text NOT NULL,
    expire_date timestamp with time zone NOT NULL
);


ALTER TABLE public.django_session OWNER TO apm;

--
-- Name: documents_document; Type: TABLE; Schema: public; Owner: apm
--

CREATE TABLE public.documents_document (
    id bigint NOT NULL,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL,
    is_deleted boolean NOT NULL,
    deleted_at timestamp with time zone,
    title character varying(255) NOT NULL,
    file_type character varying(64) NOT NULL,
    category character varying(32) NOT NULL,
    description text NOT NULL,
    file character varying(100) NOT NULL,
    uploaded_at timestamp with time zone NOT NULL,
    is_active boolean NOT NULL,
    application_id bigint,
    uploaded_by_id bigint
);


ALTER TABLE public.documents_document OWNER TO apm;

--
-- Name: documents_document_id_seq; Type: SEQUENCE; Schema: public; Owner: apm
--

ALTER TABLE public.documents_document ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.documents_document_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: documents_document_tags; Type: TABLE; Schema: public; Owner: apm
--

CREATE TABLE public.documents_document_tags (
    id bigint NOT NULL,
    document_id bigint NOT NULL,
    tag_id bigint NOT NULL
);


ALTER TABLE public.documents_document_tags OWNER TO apm;

--
-- Name: documents_document_tags_id_seq; Type: SEQUENCE; Schema: public; Owner: apm
--

ALTER TABLE public.documents_document_tags ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.documents_document_tags_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: documents_tag; Type: TABLE; Schema: public; Owner: apm
--

CREATE TABLE public.documents_tag (
    id bigint NOT NULL,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL,
    name character varying(64) NOT NULL
);


ALTER TABLE public.documents_tag OWNER TO apm;

--
-- Name: documents_tag_id_seq; Type: SEQUENCE; Schema: public; Owner: apm
--

ALTER TABLE public.documents_tag ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.documents_tag_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: domains_domain; Type: TABLE; Schema: public; Owner: apm
--

CREATE TABLE public.domains_domain (
    id bigint NOT NULL,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL,
    is_deleted boolean NOT NULL,
    deleted_at timestamp with time zone,
    fqdn character varying(255) NOT NULL,
    registrar character varying(255) NOT NULL,
    dns_provider character varying(255) NOT NULL,
    registered_at date,
    expires_at date,
    status character varying(32) NOT NULL,
    is_primary boolean NOT NULL,
    is_active boolean NOT NULL,
    notes text NOT NULL,
    application_id bigint,
    environment_id bigint,
    auto_renew boolean NOT NULL
);


ALTER TABLE public.domains_domain OWNER TO apm;

--
-- Name: domains_domain_id_seq; Type: SEQUENCE; Schema: public; Owner: apm
--

ALTER TABLE public.domains_domain ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.domains_domain_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: environments_environment; Type: TABLE; Schema: public; Owner: apm
--

CREATE TABLE public.environments_environment (
    id bigint NOT NULL,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL,
    name character varying(255) NOT NULL,
    env_type character varying(16) NOT NULL,
    url character varying(200) NOT NULL,
    ip_address inet,
    os character varying(128) NOT NULL,
    cpu character varying(64) NOT NULL,
    ram character varying(64) NOT NULL,
    hosting_provider character varying(255) NOT NULL,
    docker boolean NOT NULL,
    kubernetes boolean NOT NULL,
    is_active boolean NOT NULL,
    application_id bigint NOT NULL,
    server_id bigint
);


ALTER TABLE public.environments_environment OWNER TO apm;

--
-- Name: environments_environment_id_seq; Type: SEQUENCE; Schema: public; Owner: apm
--

ALTER TABLE public.environments_environment ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.environments_environment_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: incidents_incident; Type: TABLE; Schema: public; Owner: apm
--

CREATE TABLE public.incidents_incident (
    id bigint NOT NULL,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL,
    is_deleted boolean NOT NULL,
    deleted_at timestamp with time zone,
    title character varying(255) NOT NULL,
    description text NOT NULL,
    occurred_at timestamp with time zone NOT NULL,
    impact character varying(32) NOT NULL,
    root_cause text NOT NULL,
    solution text NOT NULL,
    status character varying(32) NOT NULL,
    application_id bigint NOT NULL,
    reported_by_id bigint
);


ALTER TABLE public.incidents_incident OWNER TO apm;

--
-- Name: incidents_incident_id_seq; Type: SEQUENCE; Schema: public; Owner: apm
--

ALTER TABLE public.incidents_incident ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.incidents_incident_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: notifications_notification; Type: TABLE; Schema: public; Owner: apm
--

CREATE TABLE public.notifications_notification (
    id bigint NOT NULL,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL,
    title character varying(255) NOT NULL,
    message text NOT NULL,
    notification_type character varying(32) NOT NULL,
    sent_at timestamp with time zone NOT NULL,
    status character varying(32) NOT NULL,
    link character varying(255) NOT NULL,
    user_id bigint NOT NULL
);


ALTER TABLE public.notifications_notification OWNER TO apm;

--
-- Name: notifications_notification_id_seq; Type: SEQUENCE; Schema: public; Owner: apm
--

ALTER TABLE public.notifications_notification ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.notifications_notification_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: notifications_platformsettings; Type: TABLE; Schema: public; Owner: apm
--

CREATE TABLE public.notifications_platformsettings (
    id bigint NOT NULL,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL,
    alert_days_60 smallint NOT NULL,
    alert_days_30 smallint NOT NULL,
    alert_on_expiry boolean NOT NULL,
    alert_cooldown_days smallint NOT NULL,
    CONSTRAINT notifications_platformsettings_alert_cooldown_days_check CHECK ((alert_cooldown_days >= 0)),
    CONSTRAINT notifications_platformsettings_alert_days_30_check CHECK ((alert_days_30 >= 0)),
    CONSTRAINT notifications_platformsettings_alert_days_60_check CHECK ((alert_days_60 >= 0))
);


ALTER TABLE public.notifications_platformsettings OWNER TO apm;

--
-- Name: notifications_platformsettings_id_seq; Type: SEQUENCE; Schema: public; Owner: apm
--

ALTER TABLE public.notifications_platformsettings ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.notifications_platformsettings_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: servers_server; Type: TABLE; Schema: public; Owner: apm
--

CREATE TABLE public.servers_server (
    id bigint NOT NULL,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL,
    is_deleted boolean NOT NULL,
    deleted_at timestamp with time zone,
    name character varying(255) NOT NULL,
    ip_address inet NOT NULL,
    os character varying(128) NOT NULL,
    cpu character varying(64) NOT NULL,
    ram character varying(64) NOT NULL,
    datacenter character varying(255) NOT NULL,
    server_type character varying(16) NOT NULL,
    is_active boolean NOT NULL,
    notes text NOT NULL,
    last_ping_at timestamp with time zone,
    ping_status character varying(16) NOT NULL
);


ALTER TABLE public.servers_server OWNER TO apm;

--
-- Name: servers_server_id_seq; Type: SEQUENCE; Schema: public; Owner: apm
--

ALTER TABLE public.servers_server ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.servers_server_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: servers_servermetric; Type: TABLE; Schema: public; Owner: apm
--

CREATE TABLE public.servers_servermetric (
    id bigint NOT NULL,
    hostname character varying(255) NOT NULL,
    cpu_percent double precision NOT NULL,
    memory_total bigint NOT NULL,
    memory_used bigint NOT NULL,
    memory_percent double precision NOT NULL,
    disk_total bigint NOT NULL,
    disk_used bigint NOT NULL,
    disk_percent double precision NOT NULL,
    net_bytes_sent bigint NOT NULL,
    net_bytes_recv bigint NOT NULL,
    load_avg_1 double precision NOT NULL,
    uptime_seconds double precision NOT NULL,
    collected_at timestamp with time zone NOT NULL,
    server_id bigint NOT NULL
);


ALTER TABLE public.servers_servermetric OWNER TO apm;

--
-- Name: servers_servermetric_id_seq; Type: SEQUENCE; Schema: public; Owner: apm
--

ALTER TABLE public.servers_servermetric ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.servers_servermetric_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: technologies_technology; Type: TABLE; Schema: public; Owner: apm
--

CREATE TABLE public.technologies_technology (
    id bigint NOT NULL,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL,
    name character varying(128) NOT NULL,
    tech_type character varying(32) NOT NULL,
    version character varying(64) NOT NULL,
    description text NOT NULL
);


ALTER TABLE public.technologies_technology OWNER TO apm;

--
-- Name: technologies_technology_id_seq; Type: SEQUENCE; Schema: public; Owner: apm
--

ALTER TABLE public.technologies_technology ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.technologies_technology_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: token_blacklist_blacklistedtoken; Type: TABLE; Schema: public; Owner: apm
--

CREATE TABLE public.token_blacklist_blacklistedtoken (
    id bigint NOT NULL,
    blacklisted_at timestamp with time zone NOT NULL,
    token_id bigint NOT NULL
);


ALTER TABLE public.token_blacklist_blacklistedtoken OWNER TO apm;

--
-- Name: token_blacklist_blacklistedtoken_id_seq; Type: SEQUENCE; Schema: public; Owner: apm
--

ALTER TABLE public.token_blacklist_blacklistedtoken ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.token_blacklist_blacklistedtoken_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: token_blacklist_outstandingtoken; Type: TABLE; Schema: public; Owner: apm
--

CREATE TABLE public.token_blacklist_outstandingtoken (
    id bigint NOT NULL,
    token text NOT NULL,
    created_at timestamp with time zone,
    expires_at timestamp with time zone NOT NULL,
    user_id bigint,
    jti character varying(255) NOT NULL
);


ALTER TABLE public.token_blacklist_outstandingtoken OWNER TO apm;

--
-- Name: token_blacklist_outstandingtoken_id_seq; Type: SEQUENCE; Schema: public; Owner: apm
--

ALTER TABLE public.token_blacklist_outstandingtoken ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.token_blacklist_outstandingtoken_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: vendors_vendor; Type: TABLE; Schema: public; Owner: apm
--

CREATE TABLE public.vendors_vendor (
    id bigint NOT NULL,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL,
    is_deleted boolean NOT NULL,
    deleted_at timestamp with time zone,
    name character varying(255) NOT NULL,
    vendor_type character varying(32) NOT NULL,
    contact_name character varying(255) NOT NULL,
    contact_email character varying(254) NOT NULL,
    contact_phone character varying(32) NOT NULL,
    website character varying(200) NOT NULL,
    address text NOT NULL,
    is_active boolean NOT NULL,
    notes text NOT NULL
);


ALTER TABLE public.vendors_vendor OWNER TO apm;

--
-- Name: vendors_vendor_id_seq; Type: SEQUENCE; Schema: public; Owner: apm
--

ALTER TABLE public.vendors_vendor ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.vendors_vendor_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Data for Name: accounts_user; Type: TABLE DATA; Schema: public; Owner: apm
--



--
-- Data for Name: accounts_user_groups; Type: TABLE DATA; Schema: public; Owner: apm
--

COPY public.accounts_user_groups (id, user_id, group_id) FROM stdin;
\.


--
-- Data for Name: accounts_user_user_permissions; Type: TABLE DATA; Schema: public; Owner: apm
--

COPY public.accounts_user_user_permissions (id, user_id, permission_id) FROM stdin;
\.


--
-- Data for Name: ai_aiconversation; Type: TABLE DATA; Schema: public; Owner: apm
--

COPY public.ai_aiconversation (id, created_at, updated_at, title, user_id) FROM stdin;
1	2026-08-25 10:40:01.068613+00	2026-08-25 10:40:01.085178+00	certificats	2
2	2026-08-25 10:48:32.057113+00	2026-08-25 10:48:57.173025+00	C'est quoi le r├┤le lecteur	2
\.


--
-- Data for Name: ai_aimessage; Type: TABLE DATA; Schema: public; Owner: apm
--



--
-- Data for Name: ai_aiusagelog; Type: TABLE DATA; Schema: public; Owner: apm
--

COPY public.ai_aiusagelog (id, created_at, updated_at, feature, prompt_tokens, completion_tokens, success, error_message, mock, user_id) FROM stdin;
1	2026-08-25 10:40:01.091219+00	2026-08-25 10:40:01.091278+00	chat	50	80	t		t	2
2	2026-08-25 10:48:32.068372+00	2026-08-25 10:48:32.068385+00	chat	50	80	t		t	2
3	2026-08-25 10:48:57.176225+00	2026-08-25 10:48:57.176276+00	chat	50	80	t		t	2
4	2026-08-25 10:49:53.743478+00	2026-08-25 10:49:53.743498+00	rewrite	50	80	t		t	2
\.


--
-- Data for Name: applications_application; Type: TABLE DATA; Schema: public; Owner: apm
--



--
-- Data for Name: applications_application_technologies; Type: TABLE DATA; Schema: public; Owner: apm
--

COPY public.applications_application_technologies (id, application_id, technology_id) FROM stdin;
1	1	1
2	3	2
3	3	3
4	3	4
5	3	5
6	4	8
7	4	9
8	4	7
9	5	3
10	5	4
11	5	6
12	6	9
13	6	12
14	6	7
15	7	2
16	7	10
17	7	4
18	7	6
\.


--
-- Data for Name: audit_auditlog; Type: TABLE DATA; Schema: public; Owner: apm
--



--
-- Data for Name: auth_group; Type: TABLE DATA; Schema: public; Owner: apm
--

COPY public.auth_group (id, name) FROM stdin;
\.


--
-- Data for Name: auth_group_permissions; Type: TABLE DATA; Schema: public; Owner: apm
--

COPY public.auth_group_permissions (id, group_id, permission_id) FROM stdin;
\.


--
-- Data for Name: auth_permission; Type: TABLE DATA; Schema: public; Owner: apm
--



--
-- Data for Name: certificates_certificate; Type: TABLE DATA; Schema: public; Owner: apm
--



--
-- Data for Name: contracts_contract; Type: TABLE DATA; Schema: public; Owner: apm
--



--
-- Data for Name: dependencies_dependency; Type: TABLE DATA; Schema: public; Owner: apm
--



--
-- Data for Name: django_admin_log; Type: TABLE DATA; Schema: public; Owner: apm
--

COPY public.django_admin_log (id, action_time, object_id, object_repr, action_flag, change_message, content_type_id, user_id) FROM stdin;
\.


--
-- Data for Name: django_content_type; Type: TABLE DATA; Schema: public; Owner: apm
--



--
-- Data for Name: django_migrations; Type: TABLE DATA; Schema: public; Owner: apm
--



--
-- Data for Name: django_session; Type: TABLE DATA; Schema: public; Owner: apm
--



--
-- Data for Name: documents_document; Type: TABLE DATA; Schema: public; Owner: apm
--



--
-- Data for Name: documents_document_tags; Type: TABLE DATA; Schema: public; Owner: apm
--

COPY public.documents_document_tags (id, document_id, tag_id) FROM stdin;
1	1	1
2	1	5
3	2	2
4	3	3
5	3	4
6	4	4
\.


--
-- Data for Name: documents_tag; Type: TABLE DATA; Schema: public; Owner: apm
--

COPY public.documents_tag (id, created_at, updated_at, name) FROM stdin;
1	2026-08-04 11:11:12.79797+00	2026-08-04 11:11:12.797985+00	architecture
2	2026-08-04 11:11:12.800341+00	2026-08-04 11:11:12.800355+00	production
3	2026-08-04 11:11:12.802076+00	2026-08-04 11:11:12.802088+00	securite
4	2026-08-04 11:11:12.803866+00	2026-08-04 11:11:12.803881+00	exploitation
5	2026-08-04 11:11:12.80592+00	2026-08-04 11:11:12.805935+00	rh
\.


--
-- Data for Name: domains_domain; Type: TABLE DATA; Schema: public; Owner: apm
--



--
-- Data for Name: environments_environment; Type: TABLE DATA; Schema: public; Owner: apm
--



--
-- Data for Name: incidents_incident; Type: TABLE DATA; Schema: public; Owner: apm
--



--
-- Data for Name: notifications_notification; Type: TABLE DATA; Schema: public; Owner: apm
--



--
-- Data for Name: notifications_platformsettings; Type: TABLE DATA; Schema: public; Owner: apm
--

COPY public.notifications_platformsettings (id, created_at, updated_at, alert_days_60, alert_days_30, alert_on_expiry, alert_cooldown_days) FROM stdin;
1	2026-08-07 12:31:40.999925+00	2026-08-07 12:31:40.999941+00	60	30	t	7
\.


--
-- Data for Name: servers_server; Type: TABLE DATA; Schema: public; Owner: apm
--



--
-- Data for Name: servers_servermetric; Type: TABLE DATA; Schema: public; Owner: apm
--

COPY public.servers_servermetric (id, hostname, cpu_percent, memory_total, memory_used, memory_percent, disk_total, disk_used, disk_percent, net_bytes_sent, net_bytes_recv, load_avg_1, uptime_seconds, collected_at, server_id) FROM stdin;
\.


--
-- Data for Name: technologies_technology; Type: TABLE DATA; Schema: public; Owner: apm
--



--
-- Data for Name: token_blacklist_blacklistedtoken; Type: TABLE DATA; Schema: public; Owner: apm
--

COPY public.token_blacklist_blacklistedtoken (id, blacklisted_at, token_id) FROM stdin;
\.


--
-- Data for Name: token_blacklist_outstandingtoken; Type: TABLE DATA; Schema: public; Owner: apm
--

COPY public.token_blacklist_outstandingtoken (id, token, created_at, expires_at, user_id, jti) FROM stdin;
\.


--
-- Data for Name: vendors_vendor; Type: TABLE DATA; Schema: public; Owner: apm
--



--
-- Name: accounts_user_groups_id_seq; Type: SEQUENCE SET; Schema: public; Owner: apm
--

SELECT pg_catalog.setval('public.accounts_user_groups_id_seq', 1, false);


--
-- Name: accounts_user_id_seq; Type: SEQUENCE SET; Schema: public; Owner: apm
--

SELECT pg_catalog.setval('public.accounts_user_id_seq', 10, true);


--
-- Name: accounts_user_user_permissions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: apm
--

SELECT pg_catalog.setval('public.accounts_user_user_permissions_id_seq', 1, false);


--
-- Name: ai_aiconversation_id_seq; Type: SEQUENCE SET; Schema: public; Owner: apm
--

SELECT pg_catalog.setval('public.ai_aiconversation_id_seq', 2, true);


--
-- Name: ai_aimessage_id_seq; Type: SEQUENCE SET; Schema: public; Owner: apm
--

SELECT pg_catalog.setval('public.ai_aimessage_id_seq', 6, true);


--
-- Name: ai_aiusagelog_id_seq; Type: SEQUENCE SET; Schema: public; Owner: apm
--

SELECT pg_catalog.setval('public.ai_aiusagelog_id_seq', 4, true);


--
-- Name: applications_application_id_seq; Type: SEQUENCE SET; Schema: public; Owner: apm
--

SELECT pg_catalog.setval('public.applications_application_id_seq', 7, true);


--
-- Name: applications_application_technologies_id_seq; Type: SEQUENCE SET; Schema: public; Owner: apm
--

SELECT pg_catalog.setval('public.applications_application_technologies_id_seq', 18, true);


--
-- Name: audit_auditlog_id_seq; Type: SEQUENCE SET; Schema: public; Owner: apm
--

SELECT pg_catalog.setval('public.audit_auditlog_id_seq', 42, true);


--
-- Name: auth_group_id_seq; Type: SEQUENCE SET; Schema: public; Owner: apm
--

SELECT pg_catalog.setval('public.auth_group_id_seq', 1, false);


--
-- Name: auth_group_permissions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: apm
--

SELECT pg_catalog.setval('public.auth_group_permissions_id_seq', 1, false);


--
-- Name: auth_permission_id_seq; Type: SEQUENCE SET; Schema: public; Owner: apm
--

SELECT pg_catalog.setval('public.auth_permission_id_seq', 128, true);


--
-- Name: certificates_certificate_id_seq; Type: SEQUENCE SET; Schema: public; Owner: apm
--

SELECT pg_catalog.setval('public.certificates_certificate_id_seq', 4, true);


--
-- Name: contracts_contract_id_seq; Type: SEQUENCE SET; Schema: public; Owner: apm
--

SELECT pg_catalog.setval('public.contracts_contract_id_seq', 4, true);


--
-- Name: dependencies_dependency_id_seq; Type: SEQUENCE SET; Schema: public; Owner: apm
--

SELECT pg_catalog.setval('public.dependencies_dependency_id_seq', 4, true);


--
-- Name: django_admin_log_id_seq; Type: SEQUENCE SET; Schema: public; Owner: apm
--

SELECT pg_catalog.setval('public.django_admin_log_id_seq', 1, false);


--
-- Name: django_content_type_id_seq; Type: SEQUENCE SET; Schema: public; Owner: apm
--

SELECT pg_catalog.setval('public.django_content_type_id_seq', 32, true);


--
-- Name: django_migrations_id_seq; Type: SEQUENCE SET; Schema: public; Owner: apm
--

SELECT pg_catalog.setval('public.django_migrations_id_seq', 62, true);


--
-- Name: documents_document_id_seq; Type: SEQUENCE SET; Schema: public; Owner: apm
--

SELECT pg_catalog.setval('public.documents_document_id_seq', 4, true);


--
-- Name: documents_document_tags_id_seq; Type: SEQUENCE SET; Schema: public; Owner: apm
--

SELECT pg_catalog.setval('public.documents_document_tags_id_seq', 6, true);


--
-- Name: documents_tag_id_seq; Type: SEQUENCE SET; Schema: public; Owner: apm
--

SELECT pg_catalog.setval('public.documents_tag_id_seq', 5, true);


--
-- Name: domains_domain_id_seq; Type: SEQUENCE SET; Schema: public; Owner: apm
--

SELECT pg_catalog.setval('public.domains_domain_id_seq', 5, true);


--
-- Name: environments_environment_id_seq; Type: SEQUENCE SET; Schema: public; Owner: apm
--

SELECT pg_catalog.setval('public.environments_environment_id_seq', 12, true);


--
-- Name: incidents_incident_id_seq; Type: SEQUENCE SET; Schema: public; Owner: apm
--

SELECT pg_catalog.setval('public.incidents_incident_id_seq', 3, true);


--
-- Name: notifications_notification_id_seq; Type: SEQUENCE SET; Schema: public; Owner: apm
--

SELECT pg_catalog.setval('public.notifications_notification_id_seq', 156, true);


--
-- Name: notifications_platformsettings_id_seq; Type: SEQUENCE SET; Schema: public; Owner: apm
--

SELECT pg_catalog.setval('public.notifications_platformsettings_id_seq', 1, false);


--
-- Name: servers_server_id_seq; Type: SEQUENCE SET; Schema: public; Owner: apm
--

SELECT pg_catalog.setval('public.servers_server_id_seq', 7, true);


--
-- Name: servers_servermetric_id_seq; Type: SEQUENCE SET; Schema: public; Owner: apm
--

SELECT pg_catalog.setval('public.servers_servermetric_id_seq', 1, false);


--
-- Name: technologies_technology_id_seq; Type: SEQUENCE SET; Schema: public; Owner: apm
--

SELECT pg_catalog.setval('public.technologies_technology_id_seq', 13, true);


--
-- Name: token_blacklist_blacklistedtoken_id_seq; Type: SEQUENCE SET; Schema: public; Owner: apm
--

SELECT pg_catalog.setval('public.token_blacklist_blacklistedtoken_id_seq', 1, false);


--
-- Name: token_blacklist_outstandingtoken_id_seq; Type: SEQUENCE SET; Schema: public; Owner: apm
--

SELECT pg_catalog.setval('public.token_blacklist_outstandingtoken_id_seq', 1, false);


--
-- Name: vendors_vendor_id_seq; Type: SEQUENCE SET; Schema: public; Owner: apm
--

SELECT pg_catalog.setval('public.vendors_vendor_id_seq', 5, true);


--
-- Name: accounts_user_groups accounts_user_groups_pkey; Type: CONSTRAINT; Schema: public; Owner: apm
--

ALTER TABLE ONLY public.accounts_user_groups
    ADD CONSTRAINT accounts_user_groups_pkey PRIMARY KEY (id);


--
-- Name: accounts_user_groups accounts_user_groups_user_id_group_id_59c0b32f_uniq; Type: CONSTRAINT; Schema: public; Owner: apm
--

ALTER TABLE ONLY public.accounts_user_groups
    ADD CONSTRAINT accounts_user_groups_user_id_group_id_59c0b32f_uniq UNIQUE (user_id, group_id);


--
-- Name: accounts_user accounts_user_pkey; Type: CONSTRAINT; Schema: public; Owner: apm
--

ALTER TABLE ONLY public.accounts_user
    ADD CONSTRAINT accounts_user_pkey PRIMARY KEY (id);


--
-- Name: accounts_user_user_permissions accounts_user_user_permi_user_id_permission_id_2ab516c2_uniq; Type: CONSTRAINT; Schema: public; Owner: apm
--

ALTER TABLE ONLY public.accounts_user_user_permissions
    ADD CONSTRAINT accounts_user_user_permi_user_id_permission_id_2ab516c2_uniq UNIQUE (user_id, permission_id);


--
-- Name: accounts_user_user_permissions accounts_user_user_permissions_pkey; Type: CONSTRAINT; Schema: public; Owner: apm
--

ALTER TABLE ONLY public.accounts_user_user_permissions
    ADD CONSTRAINT accounts_user_user_permissions_pkey PRIMARY KEY (id);


--
-- Name: accounts_user accounts_user_username_key; Type: CONSTRAINT; Schema: public; Owner: apm
--

ALTER TABLE ONLY public.accounts_user
    ADD CONSTRAINT accounts_user_username_key UNIQUE (username);


--
-- Name: ai_aiconversation ai_aiconversation_pkey; Type: CONSTRAINT; Schema: public; Owner: apm
--

ALTER TABLE ONLY public.ai_aiconversation
    ADD CONSTRAINT ai_aiconversation_pkey PRIMARY KEY (id);


--
-- Name: ai_aimessage ai_aimessage_pkey; Type: CONSTRAINT; Schema: public; Owner: apm
--

ALTER TABLE ONLY public.ai_aimessage
    ADD CONSTRAINT ai_aimessage_pkey PRIMARY KEY (id);


--
-- Name: ai_aiusagelog ai_aiusagelog_pkey; Type: CONSTRAINT; Schema: public; Owner: apm
--

ALTER TABLE ONLY public.ai_aiusagelog
    ADD CONSTRAINT ai_aiusagelog_pkey PRIMARY KEY (id);


--
-- Name: applications_application_technologies applications_application_application_id_technolog_0c225bea_uniq; Type: CONSTRAINT; Schema: public; Owner: apm
--

ALTER TABLE ONLY public.applications_application_technologies
    ADD CONSTRAINT applications_application_application_id_technolog_0c225bea_uniq UNIQUE (application_id, technology_id);


--
-- Name: applications_application applications_application_name_key; Type: CONSTRAINT; Schema: public; Owner: apm
--

ALTER TABLE ONLY public.applications_application
    ADD CONSTRAINT applications_application_name_key UNIQUE (name);


--
-- Name: applications_application applications_application_pkey; Type: CONSTRAINT; Schema: public; Owner: apm
--

ALTER TABLE ONLY public.applications_application
    ADD CONSTRAINT applications_application_pkey PRIMARY KEY (id);


--
-- Name: applications_application_technologies applications_application_technologies_pkey; Type: CONSTRAINT; Schema: public; Owner: apm
--

ALTER TABLE ONLY public.applications_application_technologies
    ADD CONSTRAINT applications_application_technologies_pkey PRIMARY KEY (id);


--
-- Name: audit_auditlog audit_auditlog_pkey; Type: CONSTRAINT; Schema: public; Owner: apm
--

ALTER TABLE ONLY public.audit_auditlog
    ADD CONSTRAINT audit_auditlog_pkey PRIMARY KEY (id);


--
-- Name: auth_group auth_group_name_key; Type: CONSTRAINT; Schema: public; Owner: apm
--

ALTER TABLE ONLY public.auth_group
    ADD CONSTRAINT auth_group_name_key UNIQUE (name);


--
-- Name: auth_group_permissions auth_group_permissions_group_id_permission_id_0cd325b0_uniq; Type: CONSTRAINT; Schema: public; Owner: apm
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_group_id_permission_id_0cd325b0_uniq UNIQUE (group_id, permission_id);


--
-- Name: auth_group_permissions auth_group_permissions_pkey; Type: CONSTRAINT; Schema: public; Owner: apm
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_pkey PRIMARY KEY (id);


--
-- Name: auth_group auth_group_pkey; Type: CONSTRAINT; Schema: public; Owner: apm
--

ALTER TABLE ONLY public.auth_group
    ADD CONSTRAINT auth_group_pkey PRIMARY KEY (id);


--
-- Name: auth_permission auth_permission_content_type_id_codename_01ab375a_uniq; Type: CONSTRAINT; Schema: public; Owner: apm
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_content_type_id_codename_01ab375a_uniq UNIQUE (content_type_id, codename);


--
-- Name: auth_permission auth_permission_pkey; Type: CONSTRAINT; Schema: public; Owner: apm
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_pkey PRIMARY KEY (id);


--
-- Name: certificates_certificate certificates_certificate_pkey; Type: CONSTRAINT; Schema: public; Owner: apm
--

ALTER TABLE ONLY public.certificates_certificate
    ADD CONSTRAINT certificates_certificate_pkey PRIMARY KEY (id);


--
-- Name: contracts_contract contracts_contract_pkey; Type: CONSTRAINT; Schema: public; Owner: apm
--

ALTER TABLE ONLY public.contracts_contract
    ADD CONSTRAINT contracts_contract_pkey PRIMARY KEY (id);


--
-- Name: contracts_contract contracts_contract_reference_key; Type: CONSTRAINT; Schema: public; Owner: apm
--

ALTER TABLE ONLY public.contracts_contract
    ADD CONSTRAINT contracts_contract_reference_key UNIQUE (reference);


--
-- Name: dependencies_dependency dependencies_dependency_pkey; Type: CONSTRAINT; Schema: public; Owner: apm
--

ALTER TABLE ONLY public.dependencies_dependency
    ADD CONSTRAINT dependencies_dependency_pkey PRIMARY KEY (id);


--
-- Name: django_admin_log django_admin_log_pkey; Type: CONSTRAINT; Schema: public; Owner: apm
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_pkey PRIMARY KEY (id);


--
-- Name: django_content_type django_content_type_app_label_model_76bd3d3b_uniq; Type: CONSTRAINT; Schema: public; Owner: apm
--

ALTER TABLE ONLY public.django_content_type
    ADD CONSTRAINT django_content_type_app_label_model_76bd3d3b_uniq UNIQUE (app_label, model);


--
-- Name: django_content_type django_content_type_pkey; Type: CONSTRAINT; Schema: public; Owner: apm
--

ALTER TABLE ONLY public.django_content_type
    ADD CONSTRAINT django_content_type_pkey PRIMARY KEY (id);


--
-- Name: django_migrations django_migrations_pkey; Type: CONSTRAINT; Schema: public; Owner: apm
--

ALTER TABLE ONLY public.django_migrations
    ADD CONSTRAINT django_migrations_pkey PRIMARY KEY (id);


--
-- Name: django_session django_session_pkey; Type: CONSTRAINT; Schema: public; Owner: apm
--

ALTER TABLE ONLY public.django_session
    ADD CONSTRAINT django_session_pkey PRIMARY KEY (session_key);


--
-- Name: documents_document documents_document_pkey; Type: CONSTRAINT; Schema: public; Owner: apm
--

ALTER TABLE ONLY public.documents_document
    ADD CONSTRAINT documents_document_pkey PRIMARY KEY (id);


--
-- Name: documents_document_tags documents_document_tags_document_id_tag_id_07e90502_uniq; Type: CONSTRAINT; Schema: public; Owner: apm
--

ALTER TABLE ONLY public.documents_document_tags
    ADD CONSTRAINT documents_document_tags_document_id_tag_id_07e90502_uniq UNIQUE (document_id, tag_id);


--
-- Name: documents_document_tags documents_document_tags_pkey; Type: CONSTRAINT; Schema: public; Owner: apm
--

ALTER TABLE ONLY public.documents_document_tags
    ADD CONSTRAINT documents_document_tags_pkey PRIMARY KEY (id);


--
-- Name: documents_tag documents_tag_name_key; Type: CONSTRAINT; Schema: public; Owner: apm
--

ALTER TABLE ONLY public.documents_tag
    ADD CONSTRAINT documents_tag_name_key UNIQUE (name);


--
-- Name: documents_tag documents_tag_pkey; Type: CONSTRAINT; Schema: public; Owner: apm
--

ALTER TABLE ONLY public.documents_tag
    ADD CONSTRAINT documents_tag_pkey PRIMARY KEY (id);


--
-- Name: domains_domain domains_domain_fqdn_key; Type: CONSTRAINT; Schema: public; Owner: apm
--

ALTER TABLE ONLY public.domains_domain
    ADD CONSTRAINT domains_domain_fqdn_key UNIQUE (fqdn);


--
-- Name: domains_domain domains_domain_pkey; Type: CONSTRAINT; Schema: public; Owner: apm
--

ALTER TABLE ONLY public.domains_domain
    ADD CONSTRAINT domains_domain_pkey PRIMARY KEY (id);


--
-- Name: environments_environment environments_environment_pkey; Type: CONSTRAINT; Schema: public; Owner: apm
--

ALTER TABLE ONLY public.environments_environment
    ADD CONSTRAINT environments_environment_pkey PRIMARY KEY (id);


--
-- Name: incidents_incident incidents_incident_pkey; Type: CONSTRAINT; Schema: public; Owner: apm
--

ALTER TABLE ONLY public.incidents_incident
    ADD CONSTRAINT incidents_incident_pkey PRIMARY KEY (id);


--
-- Name: notifications_notification notifications_notification_pkey; Type: CONSTRAINT; Schema: public; Owner: apm
--

ALTER TABLE ONLY public.notifications_notification
    ADD CONSTRAINT notifications_notification_pkey PRIMARY KEY (id);


--
-- Name: notifications_platformsettings notifications_platformsettings_pkey; Type: CONSTRAINT; Schema: public; Owner: apm
--

ALTER TABLE ONLY public.notifications_platformsettings
    ADD CONSTRAINT notifications_platformsettings_pkey PRIMARY KEY (id);


--
-- Name: servers_server servers_server_ip_address_key; Type: CONSTRAINT; Schema: public; Owner: apm
--

ALTER TABLE ONLY public.servers_server
    ADD CONSTRAINT servers_server_ip_address_key UNIQUE (ip_address);


--
-- Name: servers_server servers_server_name_key; Type: CONSTRAINT; Schema: public; Owner: apm
--

ALTER TABLE ONLY public.servers_server
    ADD CONSTRAINT servers_server_name_key UNIQUE (name);


--
-- Name: servers_server servers_server_pkey; Type: CONSTRAINT; Schema: public; Owner: apm
--

ALTER TABLE ONLY public.servers_server
    ADD CONSTRAINT servers_server_pkey PRIMARY KEY (id);


--
-- Name: servers_servermetric servers_servermetric_pkey; Type: CONSTRAINT; Schema: public; Owner: apm
--

ALTER TABLE ONLY public.servers_servermetric
    ADD CONSTRAINT servers_servermetric_pkey PRIMARY KEY (id);


--
-- Name: technologies_technology technologies_technology_pkey; Type: CONSTRAINT; Schema: public; Owner: apm
--

ALTER TABLE ONLY public.technologies_technology
    ADD CONSTRAINT technologies_technology_pkey PRIMARY KEY (id);


--
-- Name: token_blacklist_blacklistedtoken token_blacklist_blacklistedtoken_pkey; Type: CONSTRAINT; Schema: public; Owner: apm
--

ALTER TABLE ONLY public.token_blacklist_blacklistedtoken
    ADD CONSTRAINT token_blacklist_blacklistedtoken_pkey PRIMARY KEY (id);


--
-- Name: token_blacklist_blacklistedtoken token_blacklist_blacklistedtoken_token_id_key; Type: CONSTRAINT; Schema: public; Owner: apm
--

ALTER TABLE ONLY public.token_blacklist_blacklistedtoken
    ADD CONSTRAINT token_blacklist_blacklistedtoken_token_id_key UNIQUE (token_id);


--
-- Name: token_blacklist_outstandingtoken token_blacklist_outstandingtoken_jti_hex_d9bdf6f7_uniq; Type: CONSTRAINT; Schema: public; Owner: apm
--

ALTER TABLE ONLY public.token_blacklist_outstandingtoken
    ADD CONSTRAINT token_blacklist_outstandingtoken_jti_hex_d9bdf6f7_uniq UNIQUE (jti);


--
-- Name: token_blacklist_outstandingtoken token_blacklist_outstandingtoken_pkey; Type: CONSTRAINT; Schema: public; Owner: apm
--

ALTER TABLE ONLY public.token_blacklist_outstandingtoken
    ADD CONSTRAINT token_blacklist_outstandingtoken_pkey PRIMARY KEY (id);


--
-- Name: environments_environment uniq_application_env_type; Type: CONSTRAINT; Schema: public; Owner: apm
--

ALTER TABLE ONLY public.environments_environment
    ADD CONSTRAINT uniq_application_env_type UNIQUE (application_id, env_type);


--
-- Name: technologies_technology uniq_technology_name_version; Type: CONSTRAINT; Schema: public; Owner: apm
--

ALTER TABLE ONLY public.technologies_technology
    ADD CONSTRAINT uniq_technology_name_version UNIQUE (name, version);


--
-- Name: vendors_vendor vendors_vendor_name_key; Type: CONSTRAINT; Schema: public; Owner: apm
--

ALTER TABLE ONLY public.vendors_vendor
    ADD CONSTRAINT vendors_vendor_name_key UNIQUE (name);


--
-- Name: vendors_vendor vendors_vendor_pkey; Type: CONSTRAINT; Schema: public; Owner: apm
--

ALTER TABLE ONLY public.vendors_vendor
    ADD CONSTRAINT vendors_vendor_pkey PRIMARY KEY (id);


--
-- Name: accounts_user_groups_group_id_bd11a704; Type: INDEX; Schema: public; Owner: apm
--

CREATE INDEX accounts_user_groups_group_id_bd11a704 ON public.accounts_user_groups USING btree (group_id);


--
-- Name: accounts_user_groups_user_id_52b62117; Type: INDEX; Schema: public; Owner: apm
--

CREATE INDEX accounts_user_groups_user_id_52b62117 ON public.accounts_user_groups USING btree (user_id);


--
-- Name: accounts_user_role_57e97df0; Type: INDEX; Schema: public; Owner: apm
--

CREATE INDEX accounts_user_role_57e97df0 ON public.accounts_user USING btree (role);


--
-- Name: accounts_user_role_57e97df0_like; Type: INDEX; Schema: public; Owner: apm
--

CREATE INDEX accounts_user_role_57e97df0_like ON public.accounts_user USING btree (role varchar_pattern_ops);


--
-- Name: accounts_user_user_permissions_permission_id_113bb443; Type: INDEX; Schema: public; Owner: apm
--

CREATE INDEX accounts_user_user_permissions_permission_id_113bb443 ON public.accounts_user_user_permissions USING btree (permission_id);


--
-- Name: accounts_user_user_permissions_user_id_e4f0a161; Type: INDEX; Schema: public; Owner: apm
--

CREATE INDEX accounts_user_user_permissions_user_id_e4f0a161 ON public.accounts_user_user_permissions USING btree (user_id);


--
-- Name: accounts_user_username_6088629e_like; Type: INDEX; Schema: public; Owner: apm
--

CREATE INDEX accounts_user_username_6088629e_like ON public.accounts_user USING btree (username varchar_pattern_ops);


--
-- Name: ai_aiconversation_user_id_61da3c20; Type: INDEX; Schema: public; Owner: apm
--

CREATE INDEX ai_aiconversation_user_id_61da3c20 ON public.ai_aiconversation USING btree (user_id);


--
-- Name: ai_aimessage_conversation_id_74c81484; Type: INDEX; Schema: public; Owner: apm
--

CREATE INDEX ai_aimessage_conversation_id_74c81484 ON public.ai_aimessage USING btree (conversation_id);


--
-- Name: ai_aiusagelog_feature_409aa9eb; Type: INDEX; Schema: public; Owner: apm
--

CREATE INDEX ai_aiusagelog_feature_409aa9eb ON public.ai_aiusagelog USING btree (feature);


--
-- Name: ai_aiusagelog_feature_409aa9eb_like; Type: INDEX; Schema: public; Owner: apm
--

CREATE INDEX ai_aiusagelog_feature_409aa9eb_like ON public.ai_aiusagelog USING btree (feature varchar_pattern_ops);


--
-- Name: ai_aiusagelog_user_id_abe69231; Type: INDEX; Schema: public; Owner: apm
--

CREATE INDEX ai_aiusagelog_user_id_abe69231 ON public.ai_aiusagelog USING btree (user_id);


--
-- Name: app_deleted_crit_idx; Type: INDEX; Schema: public; Owner: apm
--

CREATE INDEX app_deleted_crit_idx ON public.applications_application USING btree (is_deleted, criticality);


--
-- Name: app_deleted_status_idx; Type: INDEX; Schema: public; Owner: apm
--

CREATE INDEX app_deleted_status_idx ON public.applications_application USING btree (is_deleted, status);


--
-- Name: applications_application_criticality_2a62d40d; Type: INDEX; Schema: public; Owner: apm
--

CREATE INDEX applications_application_criticality_2a62d40d ON public.applications_application USING btree (criticality);


--
-- Name: applications_application_criticality_2a62d40d_like; Type: INDEX; Schema: public; Owner: apm
--

CREATE INDEX applications_application_criticality_2a62d40d_like ON public.applications_application USING btree (criticality varchar_pattern_ops);


--
-- Name: applications_application_is_deleted_dfaabe27; Type: INDEX; Schema: public; Owner: apm
--

CREATE INDEX applications_application_is_deleted_dfaabe27 ON public.applications_application USING btree (is_deleted);


--
-- Name: applications_application_name_8f0884ac_like; Type: INDEX; Schema: public; Owner: apm
--

CREATE INDEX applications_application_name_8f0884ac_like ON public.applications_application USING btree (name varchar_pattern_ops);


--
-- Name: applications_application_owner_id_5b77f5bb; Type: INDEX; Schema: public; Owner: apm
--

CREATE INDEX applications_application_owner_id_5b77f5bb ON public.applications_application USING btree (owner_id);


--
-- Name: applications_application_status_f8ab40be; Type: INDEX; Schema: public; Owner: apm
--

CREATE INDEX applications_application_status_f8ab40be ON public.applications_application USING btree (status);


--
-- Name: applications_application_status_f8ab40be_like; Type: INDEX; Schema: public; Owner: apm
--

CREATE INDEX applications_application_status_f8ab40be_like ON public.applications_application USING btree (status varchar_pattern_ops);


--
-- Name: applications_application_technologies_application_id_567297a8; Type: INDEX; Schema: public; Owner: apm
--

CREATE INDEX applications_application_technologies_application_id_567297a8 ON public.applications_application_technologies USING btree (application_id);


--
-- Name: applications_application_technologies_technology_id_69fdcf0d; Type: INDEX; Schema: public; Owner: apm
--

CREATE INDEX applications_application_technologies_technology_id_69fdcf0d ON public.applications_application_technologies USING btree (technology_id);


--
-- Name: audit_auditlog_action_dc562e21; Type: INDEX; Schema: public; Owner: apm
--

CREATE INDEX audit_auditlog_action_dc562e21 ON public.audit_auditlog USING btree (action);


--
-- Name: audit_auditlog_action_dc562e21_like; Type: INDEX; Schema: public; Owner: apm
--

CREATE INDEX audit_auditlog_action_dc562e21_like ON public.audit_auditlog USING btree (action varchar_pattern_ops);


--
-- Name: audit_auditlog_entity_06a2a124; Type: INDEX; Schema: public; Owner: apm
--

CREATE INDEX audit_auditlog_entity_06a2a124 ON public.audit_auditlog USING btree (entity);


--
-- Name: audit_auditlog_entity_06a2a124_like; Type: INDEX; Schema: public; Owner: apm
--

CREATE INDEX audit_auditlog_entity_06a2a124_like ON public.audit_auditlog USING btree (entity varchar_pattern_ops);


--
-- Name: audit_auditlog_entity_id_01aecced; Type: INDEX; Schema: public; Owner: apm
--

CREATE INDEX audit_auditlog_entity_id_01aecced ON public.audit_auditlog USING btree (entity_id);


--
-- Name: audit_auditlog_entity_id_01aecced_like; Type: INDEX; Schema: public; Owner: apm
--

CREATE INDEX audit_auditlog_entity_id_01aecced_like ON public.audit_auditlog USING btree (entity_id varchar_pattern_ops);


--
-- Name: audit_auditlog_occurred_at_7280a782; Type: INDEX; Schema: public; Owner: apm
--

CREATE INDEX audit_auditlog_occurred_at_7280a782 ON public.audit_auditlog USING btree (occurred_at);


--
-- Name: audit_auditlog_user_id_c1cca96c; Type: INDEX; Schema: public; Owner: apm
--

CREATE INDEX audit_auditlog_user_id_c1cca96c ON public.audit_auditlog USING btree (user_id);


--
-- Name: auth_group_name_a6ea08ec_like; Type: INDEX; Schema: public; Owner: apm
--

CREATE INDEX auth_group_name_a6ea08ec_like ON public.auth_group USING btree (name varchar_pattern_ops);


--
-- Name: auth_group_permissions_group_id_b120cbf9; Type: INDEX; Schema: public; Owner: apm
--

CREATE INDEX auth_group_permissions_group_id_b120cbf9 ON public.auth_group_permissions USING btree (group_id);


--
-- Name: auth_group_permissions_permission_id_84c5c92e; Type: INDEX; Schema: public; Owner: apm
--

CREATE INDEX auth_group_permissions_permission_id_84c5c92e ON public.auth_group_permissions USING btree (permission_id);


--
-- Name: auth_permission_content_type_id_2f476e4b; Type: INDEX; Schema: public; Owner: apm
--

CREATE INDEX auth_permission_content_type_id_2f476e4b ON public.auth_permission USING btree (content_type_id);


--
-- Name: cert_active_expiry_idx; Type: INDEX; Schema: public; Owner: apm
--

CREATE INDEX cert_active_expiry_idx ON public.certificates_certificate USING btree (is_deleted, is_active, expires_at);


--
-- Name: cert_deleted_status_idx; Type: INDEX; Schema: public; Owner: apm
--

CREATE INDEX cert_deleted_status_idx ON public.certificates_certificate USING btree (is_deleted, status);


--
-- Name: certificates_certificate_application_id_fe510204; Type: INDEX; Schema: public; Owner: apm
--

CREATE INDEX certificates_certificate_application_id_fe510204 ON public.certificates_certificate USING btree (application_id);


--
-- Name: certificates_certificate_certificate_type_5665a784; Type: INDEX; Schema: public; Owner: apm
--

CREATE INDEX certificates_certificate_certificate_type_5665a784 ON public.certificates_certificate USING btree (certificate_type);


--
-- Name: certificates_certificate_certificate_type_5665a784_like; Type: INDEX; Schema: public; Owner: apm
--

CREATE INDEX certificates_certificate_certificate_type_5665a784_like ON public.certificates_certificate USING btree (certificate_type varchar_pattern_ops);


--
-- Name: certificates_certificate_common_name_627418a2; Type: INDEX; Schema: public; Owner: apm
--

CREATE INDEX certificates_certificate_common_name_627418a2 ON public.certificates_certificate USING btree (common_name);


--
-- Name: certificates_certificate_common_name_627418a2_like; Type: INDEX; Schema: public; Owner: apm
--

CREATE INDEX certificates_certificate_common_name_627418a2_like ON public.certificates_certificate USING btree (common_name varchar_pattern_ops);


--
-- Name: certificates_certificate_domain_id_30051f1e; Type: INDEX; Schema: public; Owner: apm
--

CREATE INDEX certificates_certificate_domain_id_30051f1e ON public.certificates_certificate USING btree (domain_id);


--
-- Name: certificates_certificate_environment_id_fc8862e6; Type: INDEX; Schema: public; Owner: apm
--

CREATE INDEX certificates_certificate_environment_id_fc8862e6 ON public.certificates_certificate USING btree (environment_id);


--
-- Name: certificates_certificate_expires_at_1633aa58; Type: INDEX; Schema: public; Owner: apm
--

CREATE INDEX certificates_certificate_expires_at_1633aa58 ON public.certificates_certificate USING btree (expires_at);


--
-- Name: certificates_certificate_is_active_0bfbf9d7; Type: INDEX; Schema: public; Owner: apm
--

CREATE INDEX certificates_certificate_is_active_0bfbf9d7 ON public.certificates_certificate USING btree (is_active);


--
-- Name: certificates_certificate_is_deleted_517c75e5; Type: INDEX; Schema: public; Owner: apm
--

CREATE INDEX certificates_certificate_is_deleted_517c75e5 ON public.certificates_certificate USING btree (is_deleted);


--
-- Name: certificates_certificate_status_6084f4c0; Type: INDEX; Schema: public; Owner: apm
--

CREATE INDEX certificates_certificate_status_6084f4c0 ON public.certificates_certificate USING btree (status);


--
-- Name: certificates_certificate_status_6084f4c0_like; Type: INDEX; Schema: public; Owner: apm
--

CREATE INDEX certificates_certificate_status_6084f4c0_like ON public.certificates_certificate USING btree (status varchar_pattern_ops);


--
-- Name: contract_active_end_idx; Type: INDEX; Schema: public; Owner: apm
--

CREATE INDEX contract_active_end_idx ON public.contracts_contract USING btree (is_deleted, is_active, end_date);


--
-- Name: contract_deleted_status_idx; Type: INDEX; Schema: public; Owner: apm
--

CREATE INDEX contract_deleted_status_idx ON public.contracts_contract USING btree (is_deleted, status);


--
-- Name: contracts_contract_application_id_5ebfa973; Type: INDEX; Schema: public; Owner: apm
--

CREATE INDEX contracts_contract_application_id_5ebfa973 ON public.contracts_contract USING btree (application_id);


--
-- Name: contracts_contract_contract_type_844be9f8; Type: INDEX; Schema: public; Owner: apm
--

CREATE INDEX contracts_contract_contract_type_844be9f8 ON public.contracts_contract USING btree (contract_type);


--
-- Name: contracts_contract_contract_type_844be9f8_like; Type: INDEX; Schema: public; Owner: apm
--

CREATE INDEX contracts_contract_contract_type_844be9f8_like ON public.contracts_contract USING btree (contract_type varchar_pattern_ops);


--
-- Name: contracts_contract_end_date_5c12bd76; Type: INDEX; Schema: public; Owner: apm
--

CREATE INDEX contracts_contract_end_date_5c12bd76 ON public.contracts_contract USING btree (end_date);


--
-- Name: contracts_contract_is_active_07b7484d; Type: INDEX; Schema: public; Owner: apm
--

CREATE INDEX contracts_contract_is_active_07b7484d ON public.contracts_contract USING btree (is_active);


--
-- Name: contracts_contract_is_deleted_8feb9c19; Type: INDEX; Schema: public; Owner: apm
--

CREATE INDEX contracts_contract_is_deleted_8feb9c19 ON public.contracts_contract USING btree (is_deleted);


--
-- Name: contracts_contract_owner_id_b6fd2bd8; Type: INDEX; Schema: public; Owner: apm
--

CREATE INDEX contracts_contract_owner_id_b6fd2bd8 ON public.contracts_contract USING btree (owner_id);


--
-- Name: contracts_contract_reference_a40ba86f_like; Type: INDEX; Schema: public; Owner: apm
--

CREATE INDEX contracts_contract_reference_a40ba86f_like ON public.contracts_contract USING btree (reference varchar_pattern_ops);


--
-- Name: contracts_contract_status_2b9a4ef7; Type: INDEX; Schema: public; Owner: apm
--

CREATE INDEX contracts_contract_status_2b9a4ef7 ON public.contracts_contract USING btree (status);


--
-- Name: contracts_contract_status_2b9a4ef7_like; Type: INDEX; Schema: public; Owner: apm
--

CREATE INDEX contracts_contract_status_2b9a4ef7_like ON public.contracts_contract USING btree (status varchar_pattern_ops);


--
-- Name: contracts_contract_vendor_id_aa743096; Type: INDEX; Schema: public; Owner: apm
--

CREATE INDEX contracts_contract_vendor_id_aa743096 ON public.contracts_contract USING btree (vendor_id);


--
-- Name: dependencies_dependency_dependency_type_77e65ac9; Type: INDEX; Schema: public; Owner: apm
--

CREATE INDEX dependencies_dependency_dependency_type_77e65ac9 ON public.dependencies_dependency USING btree (dependency_type);


--
-- Name: dependencies_dependency_dependency_type_77e65ac9_like; Type: INDEX; Schema: public; Owner: apm
--

CREATE INDEX dependencies_dependency_dependency_type_77e65ac9_like ON public.dependencies_dependency USING btree (dependency_type varchar_pattern_ops);


--
-- Name: dependencies_dependency_is_active_4c47a1e7; Type: INDEX; Schema: public; Owner: apm
--

CREATE INDEX dependencies_dependency_is_active_4c47a1e7 ON public.dependencies_dependency USING btree (is_active);


--
-- Name: dependencies_dependency_is_deleted_4cb44b38; Type: INDEX; Schema: public; Owner: apm
--

CREATE INDEX dependencies_dependency_is_deleted_4cb44b38 ON public.dependencies_dependency USING btree (is_deleted);


--
-- Name: dependencies_dependency_source_application_id_3c0d0618; Type: INDEX; Schema: public; Owner: apm
--

CREATE INDEX dependencies_dependency_source_application_id_3c0d0618 ON public.dependencies_dependency USING btree (source_application_id);


--
-- Name: dependencies_dependency_target_application_id_d2550a8e; Type: INDEX; Schema: public; Owner: apm
--

CREATE INDEX dependencies_dependency_target_application_id_d2550a8e ON public.dependencies_dependency USING btree (target_application_id);


--
-- Name: django_admin_log_content_type_id_c4bce8eb; Type: INDEX; Schema: public; Owner: apm
--

CREATE INDEX django_admin_log_content_type_id_c4bce8eb ON public.django_admin_log USING btree (content_type_id);


--
-- Name: django_admin_log_user_id_c564eba6; Type: INDEX; Schema: public; Owner: apm
--

CREATE INDEX django_admin_log_user_id_c564eba6 ON public.django_admin_log USING btree (user_id);


--
-- Name: django_session_expire_date_a5c62663; Type: INDEX; Schema: public; Owner: apm
--

CREATE INDEX django_session_expire_date_a5c62663 ON public.django_session USING btree (expire_date);


--
-- Name: django_session_session_key_c0390e0f_like; Type: INDEX; Schema: public; Owner: apm
--

CREATE INDEX django_session_session_key_c0390e0f_like ON public.django_session USING btree (session_key varchar_pattern_ops);


--
-- Name: documents_document_application_id_b6ca132e; Type: INDEX; Schema: public; Owner: apm
--

CREATE INDEX documents_document_application_id_b6ca132e ON public.documents_document USING btree (application_id);


--
-- Name: documents_document_category_aa92dbd3; Type: INDEX; Schema: public; Owner: apm
--

CREATE INDEX documents_document_category_aa92dbd3 ON public.documents_document USING btree (category);


--
-- Name: documents_document_category_aa92dbd3_like; Type: INDEX; Schema: public; Owner: apm
--

CREATE INDEX documents_document_category_aa92dbd3_like ON public.documents_document USING btree (category varchar_pattern_ops);


--
-- Name: documents_document_is_active_5881c78d; Type: INDEX; Schema: public; Owner: apm
--

CREATE INDEX documents_document_is_active_5881c78d ON public.documents_document USING btree (is_active);


--
-- Name: documents_document_is_deleted_9448777d; Type: INDEX; Schema: public; Owner: apm
--

CREATE INDEX documents_document_is_deleted_9448777d ON public.documents_document USING btree (is_deleted);


--
-- Name: documents_document_tags_document_id_006f35a8; Type: INDEX; Schema: public; Owner: apm
--

CREATE INDEX documents_document_tags_document_id_006f35a8 ON public.documents_document_tags USING btree (document_id);


--
-- Name: documents_document_tags_tag_id_4f4a71e9; Type: INDEX; Schema: public; Owner: apm
--

CREATE INDEX documents_document_tags_tag_id_4f4a71e9 ON public.documents_document_tags USING btree (tag_id);


--
-- Name: documents_document_title_6b08e02a; Type: INDEX; Schema: public; Owner: apm
--

CREATE INDEX documents_document_title_6b08e02a ON public.documents_document USING btree (title);


--
-- Name: documents_document_title_6b08e02a_like; Type: INDEX; Schema: public; Owner: apm
--

CREATE INDEX documents_document_title_6b08e02a_like ON public.documents_document USING btree (title varchar_pattern_ops);


--
-- Name: documents_document_uploaded_at_a1475d05; Type: INDEX; Schema: public; Owner: apm
--

CREATE INDEX documents_document_uploaded_at_a1475d05 ON public.documents_document USING btree (uploaded_at);


--
-- Name: documents_document_uploaded_by_id_cc1ba81a; Type: INDEX; Schema: public; Owner: apm
--

CREATE INDEX documents_document_uploaded_by_id_cc1ba81a ON public.documents_document USING btree (uploaded_by_id);


--
-- Name: documents_tag_name_b751fdae_like; Type: INDEX; Schema: public; Owner: apm
--

CREATE INDEX documents_tag_name_b751fdae_like ON public.documents_tag USING btree (name varchar_pattern_ops);


--
-- Name: domain_active_expiry_idx; Type: INDEX; Schema: public; Owner: apm
--

CREATE INDEX domain_active_expiry_idx ON public.domains_domain USING btree (is_deleted, is_active, expires_at);


--
-- Name: domains_domain_application_id_a0b7ff41; Type: INDEX; Schema: public; Owner: apm
--

CREATE INDEX domains_domain_application_id_a0b7ff41 ON public.domains_domain USING btree (application_id);


--
-- Name: domains_domain_environment_id_9f692d84; Type: INDEX; Schema: public; Owner: apm
--

CREATE INDEX domains_domain_environment_id_9f692d84 ON public.domains_domain USING btree (environment_id);


--
-- Name: domains_domain_expires_at_13a44c32; Type: INDEX; Schema: public; Owner: apm
--

CREATE INDEX domains_domain_expires_at_13a44c32 ON public.domains_domain USING btree (expires_at);


--
-- Name: domains_domain_fqdn_095dbf23_like; Type: INDEX; Schema: public; Owner: apm
--

CREATE INDEX domains_domain_fqdn_095dbf23_like ON public.domains_domain USING btree (fqdn varchar_pattern_ops);


--
-- Name: domains_domain_is_active_3942af25; Type: INDEX; Schema: public; Owner: apm
--

CREATE INDEX domains_domain_is_active_3942af25 ON public.domains_domain USING btree (is_active);


--
-- Name: domains_domain_is_deleted_353d5bdd; Type: INDEX; Schema: public; Owner: apm
--

CREATE INDEX domains_domain_is_deleted_353d5bdd ON public.domains_domain USING btree (is_deleted);


--
-- Name: domains_domain_status_59b2b744; Type: INDEX; Schema: public; Owner: apm
--

CREATE INDEX domains_domain_status_59b2b744 ON public.domains_domain USING btree (status);


--
-- Name: domains_domain_status_59b2b744_like; Type: INDEX; Schema: public; Owner: apm
--

CREATE INDEX domains_domain_status_59b2b744_like ON public.domains_domain USING btree (status varchar_pattern_ops);


--
-- Name: environments_environment_application_id_9d935c8b; Type: INDEX; Schema: public; Owner: apm
--

CREATE INDEX environments_environment_application_id_9d935c8b ON public.environments_environment USING btree (application_id);


--
-- Name: environments_environment_env_type_fc7bde83; Type: INDEX; Schema: public; Owner: apm
--

CREATE INDEX environments_environment_env_type_fc7bde83 ON public.environments_environment USING btree (env_type);


--
-- Name: environments_environment_env_type_fc7bde83_like; Type: INDEX; Schema: public; Owner: apm
--

CREATE INDEX environments_environment_env_type_fc7bde83_like ON public.environments_environment USING btree (env_type varchar_pattern_ops);


--
-- Name: environments_environment_is_active_133a59a9; Type: INDEX; Schema: public; Owner: apm
--

CREATE INDEX environments_environment_is_active_133a59a9 ON public.environments_environment USING btree (is_active);


--
-- Name: environments_environment_server_id_8c81fbae; Type: INDEX; Schema: public; Owner: apm
--

CREATE INDEX environments_environment_server_id_8c81fbae ON public.environments_environment USING btree (server_id);


--
-- Name: incidents_incident_application_id_e8ad85eb; Type: INDEX; Schema: public; Owner: apm
--

CREATE INDEX incidents_incident_application_id_e8ad85eb ON public.incidents_incident USING btree (application_id);


--
-- Name: incidents_incident_impact_9374fb91; Type: INDEX; Schema: public; Owner: apm
--

CREATE INDEX incidents_incident_impact_9374fb91 ON public.incidents_incident USING btree (impact);


--
-- Name: incidents_incident_impact_9374fb91_like; Type: INDEX; Schema: public; Owner: apm
--

CREATE INDEX incidents_incident_impact_9374fb91_like ON public.incidents_incident USING btree (impact varchar_pattern_ops);


--
-- Name: incidents_incident_is_deleted_1e6353a4; Type: INDEX; Schema: public; Owner: apm
--

CREATE INDEX incidents_incident_is_deleted_1e6353a4 ON public.incidents_incident USING btree (is_deleted);


--
-- Name: incidents_incident_occurred_at_19288229; Type: INDEX; Schema: public; Owner: apm
--

CREATE INDEX incidents_incident_occurred_at_19288229 ON public.incidents_incident USING btree (occurred_at);


--
-- Name: incidents_incident_reported_by_id_17f53566; Type: INDEX; Schema: public; Owner: apm
--

CREATE INDEX incidents_incident_reported_by_id_17f53566 ON public.incidents_incident USING btree (reported_by_id);


--
-- Name: incidents_incident_status_4ce5780f; Type: INDEX; Schema: public; Owner: apm
--

CREATE INDEX incidents_incident_status_4ce5780f ON public.incidents_incident USING btree (status);


--
-- Name: incidents_incident_status_4ce5780f_like; Type: INDEX; Schema: public; Owner: apm
--

CREATE INDEX incidents_incident_status_4ce5780f_like ON public.incidents_incident USING btree (status varchar_pattern_ops);


--
-- Name: incidents_incident_title_be61435a; Type: INDEX; Schema: public; Owner: apm
--

CREATE INDEX incidents_incident_title_be61435a ON public.incidents_incident USING btree (title);


--
-- Name: incidents_incident_title_be61435a_like; Type: INDEX; Schema: public; Owner: apm
--

CREATE INDEX incidents_incident_title_be61435a_like ON public.incidents_incident USING btree (title varchar_pattern_ops);


--
-- Name: notif_expiry_dedupe_idx; Type: INDEX; Schema: public; Owner: apm
--

CREATE INDEX notif_expiry_dedupe_idx ON public.notifications_notification USING btree (notification_type, link, sent_at);


--
-- Name: notif_user_status_idx; Type: INDEX; Schema: public; Owner: apm
--

CREATE INDEX notif_user_status_idx ON public.notifications_notification USING btree (user_id, status);


--
-- Name: notifications_notification_notification_type_c1fe11a3; Type: INDEX; Schema: public; Owner: apm
--

CREATE INDEX notifications_notification_notification_type_c1fe11a3 ON public.notifications_notification USING btree (notification_type);


--
-- Name: notifications_notification_notification_type_c1fe11a3_like; Type: INDEX; Schema: public; Owner: apm
--

CREATE INDEX notifications_notification_notification_type_c1fe11a3_like ON public.notifications_notification USING btree (notification_type varchar_pattern_ops);


--
-- Name: notifications_notification_sent_at_dc323cf4; Type: INDEX; Schema: public; Owner: apm
--

CREATE INDEX notifications_notification_sent_at_dc323cf4 ON public.notifications_notification USING btree (sent_at);


--
-- Name: notifications_notification_status_fc366839; Type: INDEX; Schema: public; Owner: apm
--

CREATE INDEX notifications_notification_status_fc366839 ON public.notifications_notification USING btree (status);


--
-- Name: notifications_notification_status_fc366839_like; Type: INDEX; Schema: public; Owner: apm
--

CREATE INDEX notifications_notification_status_fc366839_like ON public.notifications_notification USING btree (status varchar_pattern_ops);


--
-- Name: notifications_notification_user_id_b5e8c0ff; Type: INDEX; Schema: public; Owner: apm
--

CREATE INDEX notifications_notification_user_id_b5e8c0ff ON public.notifications_notification USING btree (user_id);


--
-- Name: servers_ser_server__0ae22f_idx; Type: INDEX; Schema: public; Owner: apm
--

CREATE INDEX servers_ser_server__0ae22f_idx ON public.servers_servermetric USING btree (server_id, collected_at DESC);


--
-- Name: servers_server_datacenter_54c538c4; Type: INDEX; Schema: public; Owner: apm
--

CREATE INDEX servers_server_datacenter_54c538c4 ON public.servers_server USING btree (datacenter);


--
-- Name: servers_server_datacenter_54c538c4_like; Type: INDEX; Schema: public; Owner: apm
--

CREATE INDEX servers_server_datacenter_54c538c4_like ON public.servers_server USING btree (datacenter varchar_pattern_ops);


--
-- Name: servers_server_is_active_63033a64; Type: INDEX; Schema: public; Owner: apm
--

CREATE INDEX servers_server_is_active_63033a64 ON public.servers_server USING btree (is_active);


--
-- Name: servers_server_is_deleted_09273d4e; Type: INDEX; Schema: public; Owner: apm
--

CREATE INDEX servers_server_is_deleted_09273d4e ON public.servers_server USING btree (is_deleted);


--
-- Name: servers_server_name_8b9eaf68_like; Type: INDEX; Schema: public; Owner: apm
--

CREATE INDEX servers_server_name_8b9eaf68_like ON public.servers_server USING btree (name varchar_pattern_ops);


--
-- Name: servers_server_ping_status_c0507acc; Type: INDEX; Schema: public; Owner: apm
--

CREATE INDEX servers_server_ping_status_c0507acc ON public.servers_server USING btree (ping_status);


--
-- Name: servers_server_ping_status_c0507acc_like; Type: INDEX; Schema: public; Owner: apm
--

CREATE INDEX servers_server_ping_status_c0507acc_like ON public.servers_server USING btree (ping_status varchar_pattern_ops);


--
-- Name: servers_server_server_type_7d88d130; Type: INDEX; Schema: public; Owner: apm
--

CREATE INDEX servers_server_server_type_7d88d130 ON public.servers_server USING btree (server_type);


--
-- Name: servers_server_server_type_7d88d130_like; Type: INDEX; Schema: public; Owner: apm
--

CREATE INDEX servers_server_server_type_7d88d130_like ON public.servers_server USING btree (server_type varchar_pattern_ops);


--
-- Name: servers_servermetric_collected_at_9cb26472; Type: INDEX; Schema: public; Owner: apm
--

CREATE INDEX servers_servermetric_collected_at_9cb26472 ON public.servers_servermetric USING btree (collected_at);


--
-- Name: servers_servermetric_server_id_0aef99f7; Type: INDEX; Schema: public; Owner: apm
--

CREATE INDEX servers_servermetric_server_id_0aef99f7 ON public.servers_servermetric USING btree (server_id);


--
-- Name: technologies_technology_name_2a1ac13a; Type: INDEX; Schema: public; Owner: apm
--

CREATE INDEX technologies_technology_name_2a1ac13a ON public.technologies_technology USING btree (name);


--
-- Name: technologies_technology_name_2a1ac13a_like; Type: INDEX; Schema: public; Owner: apm
--

CREATE INDEX technologies_technology_name_2a1ac13a_like ON public.technologies_technology USING btree (name varchar_pattern_ops);


--
-- Name: technologies_technology_tech_type_cd78c002; Type: INDEX; Schema: public; Owner: apm
--

CREATE INDEX technologies_technology_tech_type_cd78c002 ON public.technologies_technology USING btree (tech_type);


--
-- Name: technologies_technology_tech_type_cd78c002_like; Type: INDEX; Schema: public; Owner: apm
--

CREATE INDEX technologies_technology_tech_type_cd78c002_like ON public.technologies_technology USING btree (tech_type varchar_pattern_ops);


--
-- Name: token_blacklist_outstandingtoken_jti_hex_d9bdf6f7_like; Type: INDEX; Schema: public; Owner: apm
--

CREATE INDEX token_blacklist_outstandingtoken_jti_hex_d9bdf6f7_like ON public.token_blacklist_outstandingtoken USING btree (jti varchar_pattern_ops);


--
-- Name: token_blacklist_outstandingtoken_user_id_83bc629a; Type: INDEX; Schema: public; Owner: apm
--

CREATE INDEX token_blacklist_outstandingtoken_user_id_83bc629a ON public.token_blacklist_outstandingtoken USING btree (user_id);


--
-- Name: vendors_vendor_is_active_7c79e1f0; Type: INDEX; Schema: public; Owner: apm
--

CREATE INDEX vendors_vendor_is_active_7c79e1f0 ON public.vendors_vendor USING btree (is_active);


--
-- Name: vendors_vendor_is_deleted_b33976f0; Type: INDEX; Schema: public; Owner: apm
--

CREATE INDEX vendors_vendor_is_deleted_b33976f0 ON public.vendors_vendor USING btree (is_deleted);


--
-- Name: vendors_vendor_name_9e0bb5fa_like; Type: INDEX; Schema: public; Owner: apm
--

CREATE INDEX vendors_vendor_name_9e0bb5fa_like ON public.vendors_vendor USING btree (name varchar_pattern_ops);


--
-- Name: vendors_vendor_vendor_type_e15a97bc; Type: INDEX; Schema: public; Owner: apm
--

CREATE INDEX vendors_vendor_vendor_type_e15a97bc ON public.vendors_vendor USING btree (vendor_type);


--
-- Name: vendors_vendor_vendor_type_e15a97bc_like; Type: INDEX; Schema: public; Owner: apm
--

CREATE INDEX vendors_vendor_vendor_type_e15a97bc_like ON public.vendors_vendor USING btree (vendor_type varchar_pattern_ops);


--
-- Name: accounts_user_groups accounts_user_groups_group_id_bd11a704_fk_auth_group_id; Type: FK CONSTRAINT; Schema: public; Owner: apm
--

ALTER TABLE ONLY public.accounts_user_groups
    ADD CONSTRAINT accounts_user_groups_group_id_bd11a704_fk_auth_group_id FOREIGN KEY (group_id) REFERENCES public.auth_group(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: accounts_user_groups accounts_user_groups_user_id_52b62117_fk_accounts_user_id; Type: FK CONSTRAINT; Schema: public; Owner: apm
--

ALTER TABLE ONLY public.accounts_user_groups
    ADD CONSTRAINT accounts_user_groups_user_id_52b62117_fk_accounts_user_id FOREIGN KEY (user_id) REFERENCES public.accounts_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: accounts_user_user_permissions accounts_user_user_p_permission_id_113bb443_fk_auth_perm; Type: FK CONSTRAINT; Schema: public; Owner: apm
--

ALTER TABLE ONLY public.accounts_user_user_permissions
    ADD CONSTRAINT accounts_user_user_p_permission_id_113bb443_fk_auth_perm FOREIGN KEY (permission_id) REFERENCES public.auth_permission(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: accounts_user_user_permissions accounts_user_user_p_user_id_e4f0a161_fk_accounts_; Type: FK CONSTRAINT; Schema: public; Owner: apm
--

ALTER TABLE ONLY public.accounts_user_user_permissions
    ADD CONSTRAINT accounts_user_user_p_user_id_e4f0a161_fk_accounts_ FOREIGN KEY (user_id) REFERENCES public.accounts_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: ai_aiconversation ai_aiconversation_user_id_61da3c20_fk_accounts_user_id; Type: FK CONSTRAINT; Schema: public; Owner: apm
--

ALTER TABLE ONLY public.ai_aiconversation
    ADD CONSTRAINT ai_aiconversation_user_id_61da3c20_fk_accounts_user_id FOREIGN KEY (user_id) REFERENCES public.accounts_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: ai_aimessage ai_aimessage_conversation_id_74c81484_fk_ai_aiconversation_id; Type: FK CONSTRAINT; Schema: public; Owner: apm
--

ALTER TABLE ONLY public.ai_aimessage
    ADD CONSTRAINT ai_aimessage_conversation_id_74c81484_fk_ai_aiconversation_id FOREIGN KEY (conversation_id) REFERENCES public.ai_aiconversation(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: ai_aiusagelog ai_aiusagelog_user_id_abe69231_fk_accounts_user_id; Type: FK CONSTRAINT; Schema: public; Owner: apm
--

ALTER TABLE ONLY public.ai_aiusagelog
    ADD CONSTRAINT ai_aiusagelog_user_id_abe69231_fk_accounts_user_id FOREIGN KEY (user_id) REFERENCES public.accounts_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: applications_application_technologies applications_applica_application_id_567297a8_fk_applicati; Type: FK CONSTRAINT; Schema: public; Owner: apm
--

ALTER TABLE ONLY public.applications_application_technologies
    ADD CONSTRAINT applications_applica_application_id_567297a8_fk_applicati FOREIGN KEY (application_id) REFERENCES public.applications_application(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: applications_application_technologies applications_applica_technology_id_69fdcf0d_fk_technolog; Type: FK CONSTRAINT; Schema: public; Owner: apm
--

ALTER TABLE ONLY public.applications_application_technologies
    ADD CONSTRAINT applications_applica_technology_id_69fdcf0d_fk_technolog FOREIGN KEY (technology_id) REFERENCES public.technologies_technology(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: applications_application applications_application_owner_id_5b77f5bb_fk_accounts_user_id; Type: FK CONSTRAINT; Schema: public; Owner: apm
--

ALTER TABLE ONLY public.applications_application
    ADD CONSTRAINT applications_application_owner_id_5b77f5bb_fk_accounts_user_id FOREIGN KEY (owner_id) REFERENCES public.accounts_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: audit_auditlog audit_auditlog_user_id_c1cca96c_fk_accounts_user_id; Type: FK CONSTRAINT; Schema: public; Owner: apm
--

ALTER TABLE ONLY public.audit_auditlog
    ADD CONSTRAINT audit_auditlog_user_id_c1cca96c_fk_accounts_user_id FOREIGN KEY (user_id) REFERENCES public.accounts_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_group_permissions auth_group_permissio_permission_id_84c5c92e_fk_auth_perm; Type: FK CONSTRAINT; Schema: public; Owner: apm
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissio_permission_id_84c5c92e_fk_auth_perm FOREIGN KEY (permission_id) REFERENCES public.auth_permission(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_group_permissions auth_group_permissions_group_id_b120cbf9_fk_auth_group_id; Type: FK CONSTRAINT; Schema: public; Owner: apm
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_group_id_b120cbf9_fk_auth_group_id FOREIGN KEY (group_id) REFERENCES public.auth_group(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_permission auth_permission_content_type_id_2f476e4b_fk_django_co; Type: FK CONSTRAINT; Schema: public; Owner: apm
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_content_type_id_2f476e4b_fk_django_co FOREIGN KEY (content_type_id) REFERENCES public.django_content_type(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: certificates_certificate certificates_certifi_application_id_fe510204_fk_applicati; Type: FK CONSTRAINT; Schema: public; Owner: apm
--

ALTER TABLE ONLY public.certificates_certificate
    ADD CONSTRAINT certificates_certifi_application_id_fe510204_fk_applicati FOREIGN KEY (application_id) REFERENCES public.applications_application(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: certificates_certificate certificates_certifi_domain_id_30051f1e_fk_domains_d; Type: FK CONSTRAINT; Schema: public; Owner: apm
--

ALTER TABLE ONLY public.certificates_certificate
    ADD CONSTRAINT certificates_certifi_domain_id_30051f1e_fk_domains_d FOREIGN KEY (domain_id) REFERENCES public.domains_domain(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: certificates_certificate certificates_certifi_environment_id_fc8862e6_fk_environme; Type: FK CONSTRAINT; Schema: public; Owner: apm
--

ALTER TABLE ONLY public.certificates_certificate
    ADD CONSTRAINT certificates_certifi_environment_id_fc8862e6_fk_environme FOREIGN KEY (environment_id) REFERENCES public.environments_environment(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: contracts_contract contracts_contract_application_id_5ebfa973_fk_applicati; Type: FK CONSTRAINT; Schema: public; Owner: apm
--

ALTER TABLE ONLY public.contracts_contract
    ADD CONSTRAINT contracts_contract_application_id_5ebfa973_fk_applicati FOREIGN KEY (application_id) REFERENCES public.applications_application(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: contracts_contract contracts_contract_owner_id_b6fd2bd8_fk_accounts_user_id; Type: FK CONSTRAINT; Schema: public; Owner: apm
--

ALTER TABLE ONLY public.contracts_contract
    ADD CONSTRAINT contracts_contract_owner_id_b6fd2bd8_fk_accounts_user_id FOREIGN KEY (owner_id) REFERENCES public.accounts_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: contracts_contract contracts_contract_vendor_id_aa743096_fk_vendors_vendor_id; Type: FK CONSTRAINT; Schema: public; Owner: apm
--

ALTER TABLE ONLY public.contracts_contract
    ADD CONSTRAINT contracts_contract_vendor_id_aa743096_fk_vendors_vendor_id FOREIGN KEY (vendor_id) REFERENCES public.vendors_vendor(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: dependencies_dependency dependencies_depende_source_application_i_3c0d0618_fk_applicati; Type: FK CONSTRAINT; Schema: public; Owner: apm
--

ALTER TABLE ONLY public.dependencies_dependency
    ADD CONSTRAINT dependencies_depende_source_application_i_3c0d0618_fk_applicati FOREIGN KEY (source_application_id) REFERENCES public.applications_application(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: dependencies_dependency dependencies_depende_target_application_i_d2550a8e_fk_applicati; Type: FK CONSTRAINT; Schema: public; Owner: apm
--

ALTER TABLE ONLY public.dependencies_dependency
    ADD CONSTRAINT dependencies_depende_target_application_i_d2550a8e_fk_applicati FOREIGN KEY (target_application_id) REFERENCES public.applications_application(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: django_admin_log django_admin_log_content_type_id_c4bce8eb_fk_django_co; Type: FK CONSTRAINT; Schema: public; Owner: apm
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_content_type_id_c4bce8eb_fk_django_co FOREIGN KEY (content_type_id) REFERENCES public.django_content_type(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: django_admin_log django_admin_log_user_id_c564eba6_fk_accounts_user_id; Type: FK CONSTRAINT; Schema: public; Owner: apm
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_user_id_c564eba6_fk_accounts_user_id FOREIGN KEY (user_id) REFERENCES public.accounts_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: documents_document documents_document_application_id_b6ca132e_fk_applicati; Type: FK CONSTRAINT; Schema: public; Owner: apm
--

ALTER TABLE ONLY public.documents_document
    ADD CONSTRAINT documents_document_application_id_b6ca132e_fk_applicati FOREIGN KEY (application_id) REFERENCES public.applications_application(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: documents_document_tags documents_document_t_document_id_006f35a8_fk_documents; Type: FK CONSTRAINT; Schema: public; Owner: apm
--

ALTER TABLE ONLY public.documents_document_tags
    ADD CONSTRAINT documents_document_t_document_id_006f35a8_fk_documents FOREIGN KEY (document_id) REFERENCES public.documents_document(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: documents_document_tags documents_document_tags_tag_id_4f4a71e9_fk_documents_tag_id; Type: FK CONSTRAINT; Schema: public; Owner: apm
--

ALTER TABLE ONLY public.documents_document_tags
    ADD CONSTRAINT documents_document_tags_tag_id_4f4a71e9_fk_documents_tag_id FOREIGN KEY (tag_id) REFERENCES public.documents_tag(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: documents_document documents_document_uploaded_by_id_cc1ba81a_fk_accounts_user_id; Type: FK CONSTRAINT; Schema: public; Owner: apm
--

ALTER TABLE ONLY public.documents_document
    ADD CONSTRAINT documents_document_uploaded_by_id_cc1ba81a_fk_accounts_user_id FOREIGN KEY (uploaded_by_id) REFERENCES public.accounts_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: domains_domain domains_domain_application_id_a0b7ff41_fk_applicati; Type: FK CONSTRAINT; Schema: public; Owner: apm
--

ALTER TABLE ONLY public.domains_domain
    ADD CONSTRAINT domains_domain_application_id_a0b7ff41_fk_applicati FOREIGN KEY (application_id) REFERENCES public.applications_application(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: domains_domain domains_domain_environment_id_9f692d84_fk_environme; Type: FK CONSTRAINT; Schema: public; Owner: apm
--

ALTER TABLE ONLY public.domains_domain
    ADD CONSTRAINT domains_domain_environment_id_9f692d84_fk_environme FOREIGN KEY (environment_id) REFERENCES public.environments_environment(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: environments_environment environments_environ_application_id_9d935c8b_fk_applicati; Type: FK CONSTRAINT; Schema: public; Owner: apm
--

ALTER TABLE ONLY public.environments_environment
    ADD CONSTRAINT environments_environ_application_id_9d935c8b_fk_applicati FOREIGN KEY (application_id) REFERENCES public.applications_application(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: environments_environment environments_environ_server_id_8c81fbae_fk_servers_s; Type: FK CONSTRAINT; Schema: public; Owner: apm
--

ALTER TABLE ONLY public.environments_environment
    ADD CONSTRAINT environments_environ_server_id_8c81fbae_fk_servers_s FOREIGN KEY (server_id) REFERENCES public.servers_server(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: incidents_incident incidents_incident_application_id_e8ad85eb_fk_applicati; Type: FK CONSTRAINT; Schema: public; Owner: apm
--

ALTER TABLE ONLY public.incidents_incident
    ADD CONSTRAINT incidents_incident_application_id_e8ad85eb_fk_applicati FOREIGN KEY (application_id) REFERENCES public.applications_application(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: incidents_incident incidents_incident_reported_by_id_17f53566_fk_accounts_user_id; Type: FK CONSTRAINT; Schema: public; Owner: apm
--

ALTER TABLE ONLY public.incidents_incident
    ADD CONSTRAINT incidents_incident_reported_by_id_17f53566_fk_accounts_user_id FOREIGN KEY (reported_by_id) REFERENCES public.accounts_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: notifications_notification notifications_notification_user_id_b5e8c0ff_fk_accounts_user_id; Type: FK CONSTRAINT; Schema: public; Owner: apm
--

ALTER TABLE ONLY public.notifications_notification
    ADD CONSTRAINT notifications_notification_user_id_b5e8c0ff_fk_accounts_user_id FOREIGN KEY (user_id) REFERENCES public.accounts_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: servers_servermetric servers_servermetric_server_id_0aef99f7_fk_servers_server_id; Type: FK CONSTRAINT; Schema: public; Owner: apm
--

ALTER TABLE ONLY public.servers_servermetric
    ADD CONSTRAINT servers_servermetric_server_id_0aef99f7_fk_servers_server_id FOREIGN KEY (server_id) REFERENCES public.servers_server(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: token_blacklist_blacklistedtoken token_blacklist_blacklistedtoken_token_id_3cc7fe56_fk; Type: FK CONSTRAINT; Schema: public; Owner: apm
--

ALTER TABLE ONLY public.token_blacklist_blacklistedtoken
    ADD CONSTRAINT token_blacklist_blacklistedtoken_token_id_3cc7fe56_fk FOREIGN KEY (token_id) REFERENCES public.token_blacklist_outstandingtoken(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: token_blacklist_outstandingtoken token_blacklist_outs_user_id_83bc629a_fk_accounts_; Type: FK CONSTRAINT; Schema: public; Owner: apm
--

ALTER TABLE ONLY public.token_blacklist_outstandingtoken
    ADD CONSTRAINT token_blacklist_outs_user_id_83bc629a_fk_accounts_ FOREIGN KEY (user_id) REFERENCES public.accounts_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- PostgreSQL database dump complete
--

\unrestrict adAAiqwLfNbqXXiFkB3sshGhNTXTQDhRQgeyVeG5KasjgmB5KK8tPkEBbWihth9

